global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'securecloud-api'
    scheme: http
    metrics_path: /metrics
    static_configs:
      - targets: ['securecloud-api:8000']   # service name from compose

  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
